@import "variables";
@import "extends";

.wrapper {
  img {
    height: auto !important;
    width: 50px !important;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 70px;
    float: left;
  }

  span, h6 {
    display: inline-block;
    cursor: pointer;
    @include fontDetails('Open Sans', 15px, $color-black-2, 14px, bold, left);
  }

  h6 {
    margin-top: 18px;
    float: left;
    margin-left: 15px;
  }
}

.downArrow {
  width: 5px !important;
  height: 5px !important;
}

.logout {
  padding: 20px;
  @include fontDetails('Open Sans', 21px, $color-error-red, 16px, normal, center);
  cursor: pointer;
  border: 1px solid rgba(196, 203, 214, 0.3);
  width: 120px;
  margin-left: 100px;
  margin-top: 80px;
  display: none;
  background-color: $color-white;
  &:hover {
    color: $color-orange;
    font-weight: bold;
  }
}

.clickedState {
  display: block !important;
  margin-top: 0px;
}
